@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'lato';
}

body {
  background-color: #091309;
}

section {
  display: flex;
  justify-content: center;
}

.chat {
  font-weight: 700;
}

#msg {
  display: none;
  border: 1px solid darkolivegreen;
  width: 30vw;
  height: 40vh;
  background-color: lightslategray;
  overflow-y: scroll;
}

.span {
  font-size: 1vw;
  word-wrap: break-word;
}

#chat-input {
  width: 100%;
}

.singleMessage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 3.5vh;
  overflow: auto;
}

.score {
  margin-left: 9vw;
  font-family: 'lato';
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  height: 5vh;
  text-align: right;
  color: white;
  position: relative;
  justify-content: space-evenly;
  display: none;
}

.score h3 {
  display: flex;
}

.score h3 .oScore {
  color: yellow;
  margin-right: 10px;
}

.score h3 .xScore {
  color: yellow;
}

@keyframes incomer {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.incomin {
  animation: 1s forwards incomer;
}

@media only screen and (max-width: 800px) {
  section {
    flex-wrap: wrap;
  }
  .score {
    margin-left: 0;
    width: 100%;
    height: 37vh;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .score h3 {
    justify-content: center;
    width: 42%;
  }
  .chat {
    width: 99%;
    height: 27vh;
  }
  .chat #msg {
    width: 100%;
    height: 19vh;
    padding-right: 4px;
  }
  .chat #msg .span {
    font-size: medium;
  }
  .chat #chat-input {
    height: 7vh;
  }
}

@keyframes roattion {
  99% {
    transform: rotate(360deg);
    scale: 1.4;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes courtainFall {
  100% {
    height: 100vh;
    opacity: 1;
  }
}

.winner {
  animation: 0.5s forwards courtainFall;
}

.winner__alert {
  position: absolute;
  width: 99vh;
  height: 0vh;
  background-color: #395239;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: rgba(255, 255, 255, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-size: 2rem;
  font-weight: 600;
  color: #464433;
  opacity: 0;
}

spam {
  font-size: 3rem;
  font-weight: 900;
  color: red;
}

#ttt5 {
  background-color: #091309;
  width: 100vh;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

#board {
  width: 99vh;
  height: 99vh;
  background-color: #395239;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.square {
  width: 4.9vh;
  height: 4.9vh;
  border: 1px solid black;
  background-color: #ebebcf;
  border-radius: .5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover {
  scale: 1.1;
}

.rotator {
  animation: 0.4s forwards roattion;
}
